html { 
	background: url(bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	
}
body {
	padding-top: 20vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: center !important;
	color: #fff;
}
.logo {
	max-width: 300px;
	height: auto;
}
p:nth-child(2) {
	margin-top: 50px;
}
.titulo {
	font-weight: 700;
	font-size: 48px;
	margin: 0;
}
.social {
	padding: 20px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: opacity 0.5s ease-in-out;
	   -moz-transition: opacity 0.5s ease-in-out;
		-ms-transition: opacity 0.5s ease-in-out;
		 -o-transition: opacity 0.5s ease-in-out;
		 	transition: opacity 0.5s ease-in-out;
}
.social:hover {
  opacity: 0.7;
}
.social img {
	width: 64px;
}